#footer
  position: relative
  width: 100%
  padding: 2rem 0
  &::after
    content: ''
    position: absolute
    bottom: 2rem
    left: 5%
    width: 90%
    height: 1px
    background: $color-gradient-1
  &.navigate
    .nav
      margin: .5rem 0 2rem 1.5rem
      list-style: none
      text-align: center
      li
        display: inline
        padding: 1rem
        a:hover,
        &.active
          a
            color: color-secondary
  &.footer-inner
    margin: 1.3rem 0 0 !important
