// Tablet view
@media(max-width: $tablet)
	.wrapper
		&-holder
			max-width: 90vw
			.main
				&-t
					width: 100%
	.logo
		margin: 0 auto
		width: 14.6rem
	.logo a
		display: block
		background: url(@img/logo.jpg) no-repeat
		height: 6rem
	.logo a:hover
		background: url(@img/logo-hover.jpg) no-repeat
	#slideshow ul
		padding: 0
	#footer.navigate
		.nav
			margin: 0 0 4rem 0
			padding: .5rem 0 4rem 1.5rem
			font-size: 1.3rem

// Smartphone view
@media(max-width: $mobile)
	.wrapper
		margin: 0 auto
		.main
			width: 90vw
	#footer.navigate
		.nav
			margin: 0
			padding: .5rem 0 2rem 0
			font-size: 1.4rem
			li
				padding: .5rem
