//- Menu items
//- - const menu = ['projects', 'press', 'team', 'contacts', 'ru']
- const menu = ['projects', 'press', 'team', 'contacts']

//- Projects detailes
- 
  const projects = [
    {
      link: 'details01.html',
      image: 'Projects_base_pix_03.jpg',
      images: ['F01_01', 'F01_02', 'F01_03', 'F01_04', 'F01_05', 'F01_06', 'F01_07', 'F01_08', 'F01_09', 'F01_10', 'F01_11', 'F01_12'],
      title: 'Apartment 1',
      text: ['floor area 188 m2', 'Realization: 2007', 'Location: Kyiv'],
      text2: false,
    },
    {
      link: 'details02.html',
      image: 'Projects_base_pix_05.jpg',
      images: ['F02_01', 'F02_02', 'F02_03', 'F02_04', 'F02_05', 'F02_06', 'F02_07', 'F02_08'],
      title: 'Apartment 2',
      text: ['floor area 200 m2', 'Realization: 2008', 'Location: Kyiv'],
      text2: true,
    },
    {
      link: 'details03.html',
      image: 'Projects_base_pix_09.jpg',
      images: ['H01_01', 'H01_02', 'H01_03', 'H01_04', 'H01_05', 'H01_06', 'H01_07', 'H01_08', 'H01_09', 'H01_10', 'H01_11', 'H01_12', 'H01_13', 'H01_15'],
      title: 'House 1',
      text: ['floor area 1100 m2', 'Realization: 2007', 'Location: Kyiv'],
      text2: false,
    },
    {
      link: 'details04.html',
      image: 'Projects_base_pix_10.jpg',
      images: ['F03_01', 'F03_02', 'F03_03', 'F03_04', 'F03_05', 'F03_06', 'F03_07', 'F03_08', 'F03_09', 'F03_10'],
      title: 'Apartment 3',
      text: ['floor area 193 m2', 'Realization: 2009', 'Location: Kyiv'],
      text2: true,
    },
  ]

//- Team details
-
  const team = [
    {
      name: 'Katerina Vasylyeva',
      image: 'Katerina.jpg',
      link: 'team-advanced01.html',
      speciality: 'architect',
      education: 'Kharkov Civil Engineering Institute',
      right: false,
    },
    {
      name: 'Tatiana Yagodzinskaya',
      image: 'Tanya.jpg',
      link: 'team-advanced02.html',
      speciality: 'architect',
      education: 'National Academy of Art and Architecture',
      right: true,
    },
    {
      name: 'Alexey Shkirya',
      image: 'Alexey.jpg',
      link: 'team-advanced03.html',
      speciality: 'architect',
      education: 'Kharkov State Technical University of Construction and Architecture',
      right: false,
    },
  ]

//- Press
-
  const press = [
    {
      id: '1',
      image: 'img05-2.jpg',
      imageInfo: 'img15.jpg',
      name: 'ARHIDEA',
      published: '#5 (74) may 2010',
    },
    {
      id: 2,
      image: 'img10-2.jpg',
      imageInfo: 'img20.jpg',
      name: 'DECOR',
      published: '#3 (17) October-November 2009',
    },
    {
      id: 3,
      image: 'img07-2.jpg',
      imageInfo: 'img17.jpg',
      name: 'ARHIDEA',
      published: '#11 (52) November 2007',
    },
    {
      id: 4,
      image: 'img12-2.jpg',
      name: 'OBJECT',
      imageInfo: 'img22.jpg',
      published: '#1 February-March 2009',
    },
    {
      id: 5,
      image: 'img09-2.jpg',
      name: 'DOMUS-DESIGN',
      imageInfo: 'img19.jpg',
      published: '#12 (29) December 2004',
    },
    {
      id: 6,
      image: 'img06-2.jpg',
      name: 'ARHIDEA',
      imageInfo: 'img16.jpg',
      published: '#10 (31) October 2005',
    },
    {
      id: 7,
      image: 'img11-2.jpg',
      name: 'DOMUS-DESIGN',
      imageInfo: 'img21.jpg',
      published: 'July-August 2003',
    },
    {
      id: 8,
      image: 'img08-2.jpg',
      name: 'ARHIDEA',
      imageInfo: 'img18.jpg',
      published: '#11 (42) November 2006',
    },
  ]