extends ./../includes/_layout

block title
  title Vasilieva&K 

block content 
  #main.main
    .main-t
      .main-b
        .container
          .container-holder
            address
              br
              | Kyiv
              br
              | Ukraine
            span.phone
            a(href='mailto:info@vasylyeva.com.ua') info@vasylyeva.com.ua
